body {
    font-family: poppins, sans-serif;
    margin: 0;
    white-space: nowrap;
    background-color: #0D0D0D

}

nav{
    background-color: #0D0D0D;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 0 80px;
    margin: 0;
    z-index: 1000;
    top: 0;
    border: 0;

}

.header-button {
    background-color: #0D0D0D;
    color: #ffffff;
    letter-spacing: 4px;
    line-height: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 18px 20px 14px 24px;
    margin: 0 16px;
    border-radius: 32px;
    border: 0;
}

.header-button:hover {
    border: 2px solid #ffffff;
    color: #ffffff;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    box-shadow: 10px 3px 6px rgba(0, 0, 0, 0.3);
}
#hero-section {
    background-image: url("images/Samana-bridge.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    height: 710px;
    position: relative;
}

.hero-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* darkens the background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 100px;
    letter-spacing: 4px;
    color: #ffffff;
    font-family: "Redressed", cursive;
    font-weight: 400;
    font-style: normal;
    text-shadow: 10px 3px 6px rgba(0, 0, 0, 0.3);
}

#fom-btn {
    background-color: #FFC107;
    color: #000;
    border: none;
    cursor: pointer;
    padding: 14px 28px;
    border-radius: 24px;
    font-size: 18px;
    font-style: semi-bold;
    font-weight: 600;
    margin-top: 30px;
    transition: background-color 0.3s;
}

#fom-btn:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    box-shadow: 10px 3px 6px rgba(0, 0, 0, 0.3);
}

#activities-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 48px 80px 64px 80px;
}

.activities-header {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

h2{
    color: #ffffff;
    font-family: poppins, sans-serif;
    font-size: 34px;
    letter-spacing: 0.5px;
    margin: -6px 0;
}

#more-btn {
    background-color: #ffc107;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    font-size: 18px;
    font-style: semi-bold;
    font-weight: 600;
    padding: 10px 20px;
    transition: background-color 0.3s;
 
}

#more-btn:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.card-container {
    display: flex;
    gap: 32px;
    align-self: stretch;
    width: 100%;
    flex-wrap: wrap;

}

.card-1, .card-2, .card-3, .card-4{
    display: flex;
    justify-content: center;
    align-items: end;
    flex: 1 1 200px;
    width: 100%;
    padding: 32px;;
    border: solid 1px #ffc107;
    border-radius: 8px;
    box-shadow: 0px 8px #ffc107;
}

.card-1{
    background-image: url("images/SEL.jpg");
    background-size: cover;
    background-position: left;
    height: 400px;
    opacity: 0.9;
    position: relative;
}

.card-2{
    background-image: url("images/CayoLevantado.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    opacity: 0.9;
    position: relative;
}

.card-3{
    background-image: url("images/Whales.webp");
    background-size: cover;
    background-position: right;
    height: 400px;
    opacity: 0.9;
    position: relative;
}

.card-button {
    background-color: #ffc107; 
    color: black; /* Texto en negro */
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ligera */
    cursor: pointer;
    transition: all 0.3s ease;
}

.card-button:hover {
    background-color: #e0a800; /* Amarillo más oscuro al pasar el mouse */
    transform: scale(1.05); /* Efecto de agrandamiento */
}

#Your-Guide{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 48px 80px 64px 80px;
}

.guide-header{
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.card-4{
    background-color: #21201E;
    gap: 32px;
    align-items: start;
    margin: 30px 70px;
}

.avatar{
    width: 25%;
    aspect-ratio: 1 / 1;
    max-width: 250px;
    padding: 0;
    margin: 0;
    border-radius: 32px;
    overflow: hidden;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.card-frame-transparent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 32px;
    width: 100%;
    height: 100%;
    orphans: 2;
}

.text-wrapper{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 32px;
    width: 100%;
    orphans: 2;
}

h3{
    color: #ffffff; 
    font-family: "Redressed", cursive;
    font-size: 24px;
    letter-spacing: 0.2px;
    margin: 0 0 -4px 0;
}

p{
    margin: 0;
    color: #ffffff;
    opacity: 0.75;
    font-family: poppins, sans-serif;
    font-size: 21px;
}
a{
    color: #ffc107;
    text-decoration: none;
}

.link-wrapper{
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0;
    margin: -6px 0;
    white-space: nowrap;
}

.more{
    color: #FFC107;
    font-family: 'Brix Slab';
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    margin-top: 4px;
}

footer{
    text-align: center;
    padding: 48px 80px;
}





